<%= form_for(@party) do |f| %>
	<%= f.hidden_field :organizer, :value => current_user.name %>
	<% if @party.errors.any? %>
	  <div id="error_explanation">
	    <h2>
	      <%= pluralize(@party.errors.count, "error") %>
	      prohibited this party from being saved:
	    </h2>
	 
	    <ul>
	    <% @party.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <div class="field">
	Party Type: <%= f.text_field :category_name, list: "categories_autocomplete" %>
	  <datalist id="categories_autocomplete">
	    <% Category.all.each do |category| %>
	      <option value="<%= category.name %>">
	    <% end %>
	  </datalist>
  </div>
  <div class="field">
	Party Name: <%= f.text_field :name %><br><br>
  </div>
  <div class="field">
	Date: <%= f.date_field :date %><br><br>
  </div>
  <div class="field">
	Time: <%= f.time_field :time %><br><br>
  </div>
  <div class="field">
	Location: <%= f.text_area :location %><br><br>
  </div>
  <div class="field">
	Description: <%= f.text_area :description %><br><br>
  </div>



  <div class="actions">
	<%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>