<% if logged_in? %>
	<%= render "users/greeting" %>
	<%= render "users/alert" %>
<% end %>

<h3 class="mt-3">Check Out Upcoming Parties:</h3>

<div class="mt-3">
  <h6>View Parties by Category:</h6>
  <%= form_tag("/parties", method: "get") do %>
    <%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name"), include_blank: true, prompt: "Select Category" %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<div class="list-group">
	<% @parties.each do |f| %>
		<% if logged_in? %>
			<% if f.users.exclude?(current_user) %>
				<%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %>
			<% end %>
		<% else %>
			<%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %>
		<% end %>
	<% end %>
</div>

<div class="mt-3">
	<%= link_to "Go To The Most Popular Party!", parties_most_popular_path, class: "btn btn-warning" %>
</div>





<% if !logged_in? %>
	<%= render 'login' %>
<% end %>