<% if logged_in? %>
	<div>
		<h3>Hi, <%= current_user.first_name %>!</h3>
		<h4>Parties you can join:</h4>
	</div>

	<div class="list-group">
		<% @parties.each do |f| %>
			<% if !f.users.include?(current_user) %>
		    	<a><%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %></a>
	    	<% end %>
		<% end %>
	</div>

	<div>
		<%= link_to "Start Your Own Party!", new_user_party_path(current_user), class: "btn btn-primary", role: "button" %>
	</div>

<% else %>

  <div class="list-group">
		<h4>Parties you can join:</h4>
		<% @parties.each do |f| %>
	    	<a><%= link_to f.name, party_path(f), class: "list-group-item list-group-item-action" %></a>
		<% end %>
  </div>

  <%= render 'login' %>

  <% end %>