<h3>Start Your Own Party!</h3>
<%= form_for(@party) do |f| %>
	<%= f.hidden_field :organizer, :value => current_user.name %>
	<% if @party.errors.any? %>
	  <div id="error_explanation">
	    <h2>
	      <%= pluralize(@party.errors.count, "error") %>
	      prohibited this party from being saved:
	    </h2>
	 
	    <ul>
	    <% @party.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
  <div class="field">
	Party name: <%= f.text_field :name %><br><br>
  </div>
  <div class="field">
	Date: <%= f.date_field :date %><br><br>
  </div>
  <div class="field">
	Time: <%= f.time_field :time %><br><br>
  </div>
  <div class="field">
	Location: <%= f.text_area :location %><br><br>
  </div>
  <div class="field">
	Activity: <%= f.collection_check_boxes(:activities, Activity.all, :id, :activities.name) %><br><br>
  </div>
  <div class="field">
	Drinks: <%= f.text_area :drinks %><br><br>
	Drinks: <%= f.text_area :drinks %><br><br>
  </div>
  <div class="field">
	Food: <%= f.text_area :foods %><br><br>
	Food: <%= f.text_area :foods %><br><br>
  </div>
  <div class="field">
	Snack: <%= f.text_area :snacks %><br><br>
	Snack: <%= f.text_area :snacks %><br><br>
  </div>

  <div class="actions">
	<%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>