<div>
	<% if flash[:alert] %>
	<h5><%= flash[:alert] %></h5>
	<% end %>
</div>

<div>
	<h3><%= @party.name %></h3>
	<p><strong>Party Type:</strong> <%= @party.category_name %></p>
	<p><strong>Date:</strong> <%= date_reformatted @party %></p>
	<p><strong>Time:</strong> <%= time_format @party %></p>
	<p><strong>Location:</strong> <%= @party.location %></p>
	<p><strong>Number of attendees:</strong> <%= @party.total_num_of_attendees %></p>
	<p><strong>Tickets available:</strong> <%= @party.tickets_available %></p>
	<% if logged_in? %>
	<P><strong>Organizer:</strong> <%= @party.organizer %></P>
	<p class="attendees_list_title"><strong>Attendees include:</strong></p>
	<ul>
		<% @party.users.each do |f| %>
			<li><%= f.name %></li>
		<% end %>
	</ul>
	<% end %>
	<h6><strong>Description:</strong></h6>
	<p><%= @party.description %></p>
</div>

<% if logged_in? %>
	<% if !@party.users.include?(current_user) %>
	  <div class="p-3 mb-2 bg-warning text-dark">
	  	<h3>Get Your Tickets Here:</h3>
		<%= form_for @ticket, url: user_party_tickets_path(current_user, @party), method: "post" do |f| %>
		  	Number of Attendees: <%= f.number_field :num_of_attendees, in: 1...6 %>
			<%= f.submit "Join the party!", class: "btn btn-primary" %>
		<% end %>
	  </div>
	<% elsif @party.organizer == current_user.name %>
	  <div>
		<%= link_to "Edit Party", edit_user_party_path(current_user, @party), class: "btn btn-primary"%>
		<%= button_to "Cancel Party", party_path(@party.id), method: "delete", data: {confirm: "Are you sure?"}, class: "btn btn-primary"%>
	  </div>
	<% else %>
	  <div class="p-3 mb-2 bg-warning text-dark">
	  	<h3>Here's Your Ticket:</h3>
  		  	<h5>You've got a ticket for <%= num = @num_of_attendees %> <%= 'person'.pluralize(num) %>. </h5>
			<%= form_for @ticket, url: user_party_ticket_path(current_user, @party, @ticket), method: "patch" do |f| %>
			  	Number of Attendees: <%= f.number_field :num_of_attendees, in: 1...6, value: @ticket.num_of_attendees %>
				<%= f.submit class: "btn btn-primary" %>
			<% end %>
			<%= button_to "Can't Make It", user_party_path(@party.id), method: "delete", data: {confirm: "Are you sure you want to give up the ticket?"}, class: "btn btn-danger"%>
	  </div>
	<% end %>
<% else %>
  <%= render 'login' %>
<% end %>