<div>
	<h3><%= @party.name %></h3>
	<p>Date: <%= @party.date %></p>
	<p>Time: <%= @party.time %></p>
	<p>Location: <%= @party.location %></p>
	<p>How many people are going: <%= @party.users.count %></p>
	<% if logged_in? %>
	<p>Who are going: </p>
	<ul>
		<% @party.users.each do |f| %>
			<li><%= f.name %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<% if logged_in? %>
	<% if !@party.users.include?(current_user) %>
	  <div>
	  	<%= button_to "Join the party!", {controller: :parties, action: :destroy}, :method => :create, class: "btn btn-primary" %>
	  </div>
	<% else %>
	  <div>
		<%= button_to "Can't make it.", {controller: :parties, action: :destroy}, method: "delete", class: "btn btn-primary"%>
	  </div>
	<% end %>
<% else %>
  <div>
  	<a class="btn btn-primary" href='/login' role="button">Login to Join!</a>
  </div>
  <div>
  	<p>Don't have an account?</p>
  	<a class="btn btn-primary" href='/signup' role="button">Sign Up!</a>
  </div>
<% end %>