<div>
	<h3><%= @party.name %></h3>
	<p>Date: <%= @party.date %></p>
	<p>Time: <%= @party.time %></p>
	<p>Location: <%= @party.location %></p>
	<p>No. of People Attending: <%= @party.users.count %></p>
</div>