<div>
	<h3><%= @party.name %></h3>
	<p>Party Type: <%= @party.category_name %></p>
	<p>Date: <%= date_reformatted @party %></p>
	<p>Time: <%= time_format @party %></p>
	<p>Location: <%= @party.location %></p>
	<p>How many people are going: <%= @party.total_num_of_attendees %></p>
	<p>Tickets available: <%= @party.tickets_available %></p>
	<% if logged_in? %>
	<P>Organizer: <%= @party.organizer %></P>
	<p>Attendees include: </p>
	<ul>
		<% @party.users.each do |f| %>
			<li><%= f.name %></li>
		<% end %>
	</ul>
	<% end %>
	<h6>Description:</h6>
	<p><%= @party.description %></p>
</div>

<% if logged_in? %>
	<% if !@party.users.include?(current_user) %>
	  <div>
	  	<h3>Get Your Tickets here:</h3>
		<%= form_for @ticket, url: user_party_tickets_path(current_user, @party), method: "post" do |f| %>
		  	Number of Attendees: <%= f.number_field :num_of_attendees, in: 1...6 %>
			<%= f.submit "Join the party!", class: "btn btn-primary" %>
		<% end %>
	  </div>
	<% elsif @party.organizer == current_user.name %>
	  <div>
		<%= button_to "Edit Party", edit_user_party_path(@party.id), method: "edit", class: "btn btn-primary"%>
		<%= button_to "Cancel Party", party_path(@party.id), method: "delete", class: "btn btn-primary"%>
	  </div>
	<% else %>
	  <div>
	  	<p>You've got a ticket for <%= num = @num_of_attendees %> <%= 'person'.pluralize(num) %>. </p>
		<%= button_to "Edit ticket.", edit_user_party_path(@party.id), class: "btn btn-primary"%>
		<%= button_to "Can't make it.", user_party_path(@party.id), method: "delete", class: "btn btn-primary"%>
	  </div>
	<% end %>
<% else %>
  <%= render 'login' %>
<% end %>