<div>
	<h3><%= @party.name %></h3>
	<p>Date: <%= @party.date %></p>
	<p>Time: <%= @party.time %></p>
	<p>Location: <%= @party.location %></p>
	<p>How many people are going: <%= @party.users.count %></p>
	<% if logged_in? %>
	<P>Organizer: <%= @party.organizer %></P>
	<p>Who are going: </p>
	<ul>
		<% @party.users.each do |f| %>
			<li><%= f.name %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<% if logged_in? %>
	<% if !@party.users.include?(current_user) %>
	  <div>
	  	<%= form_for(@party, url: user_party_path(current_user)) do |f| %>
	  	<%= f.hidden_field :id %>
		<%= f.submit "Join the party!", class: "btn btn-primary" %>
		<% end %>
	  </div>
	<% elsif @party.organizer == current_user.name %>
	  <div>
		<%= button_to "Cancel the Party", party_path(@party.id), method: "delete", class: "btn btn-primary"%>
	  </div>
	<% else %>
	  <div>
		<%= button_to "Can't make it.", user_party_path(@party.id), method: "delete", class: "btn btn-primary"%>
	  </div>
	<% end %>
<% else %>
  <%= render 'login' %>
<% end %>